/* Navbar CSS */
.navProps{
    background: rgb(236, 236, 236);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

/* Footer CSS */
.footerContainer{
    padding-top: 20px;
    text-align: center;
    background: rgb(236, 236, 236);
    width: 100%;
    margin-top: 70px;
  }

.footerLogo{
    width: 100px;
    height: 100px;
}

.footerText{
    margin-top: 35px;
}

/* Site Card CSS */

.card{
    position: relative;
    width: 320px;
    height: 340px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;
    transition: 0.5s;
}

/* .card .box .content a {
    background: #2196f3;
}

.card:nth-child(2) .box .content a {
    background: #e91e63;
}

.card:nth-child(3) .box .content a {
    background: #23c186;
} */

.box{
position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.c1{
    background: rgb(104, 13, 13);
}
.c2{
    background: rgb(85, 45, 97);
}

.c3{
    background: rgb(30, 87, 47);
}

.c4{
    background: rgb(110, 104, 42);
}

.c5{
    background: rgb(175, 101, 31);
}

.c6{
    background: rgb(17, 88, 129);
}

.box:hover {
    transform: translateY(-50px);
}

.box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.03);
}

.content {
    padding: 20px;
    text-align: center;
}

.content h2 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.1);
}

.content h3 {
    font-size: 1.8rem;
    color: #fff;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
}

.content p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    transition: 0.5s;
}

.b1{
    background: rgb(190, 196, 101);
}

.b2{
    background: cornflowerblue;
}

.b3{
    background: cornflowerblue;
}

.b4{
    background: rgb(196, 101, 101);
}

.content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.content a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background: #fff;
    color: #000;
}